.container {
    font-size: 10px;
}

.container header {
    background-color: green;
    padding: 8px;
    margin-bottom: 1rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.main-container article {
    background-color: red;
    padding: 8px;
    color: white;
}

.main-container main {
    background-color: rgb(204, 163, 204);
    color: white;
    grid-area: 2 / 1 / 2 / 3;
    height: 200px;
}

.aside {
    background-color: rgb(165, 96, 96);
}



.footer {
    background-color: brown;
    color: white;
    padding: 8px;
}

