/* Reset de estilos padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para diferentes tamanhos de fonte em cabeçalhos e parágrafos */
h1, h2 {
    font-family: 'Roboto Mono', sans-serif;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(36, 39, 43);
}

h2 {
    color: rgb(91, 98, 107);
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para o cabeçalho com logo */
.logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dfedfd;
    padding: 1.875rem;
}

/* Estilos para a imagem no cabeçalho */
header img {
    width: 5.625rem;
}

/* Espaçamento entre o cabeçalho e o conteúdo principal */
main {
    margin-top: 1.875rem;
}

/* Grid container para seções principais */
.menu-news-emphasis-container{
    display: grid;
    grid-template-columns: 2fr 2.41fr 0.5fr;
    gap: 1rem;
    width: 1175px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* Estilos compartilhados para várias seções */
.menu-section, .news-section, .emphasis-section, .services-section, .results-section, .footer {
    border: 2px solid rgba(0, 0, 0, 0.23);
    padding: .5rem;
}

/* Estilos para cabeçalhos em seções */
.menu-section > header,
.news-section > header,
.emphasis-section > header,
.services-section > header,
.results-section > header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    margin-bottom: .5rem;
}

/* Estilos para listas em seções */
.menu-section > ul,
.news-section > ul,
.emphasis-section > ul {
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

/* Estilos para itens de lista */
li {
   list-style: none;
   margin-bottom: .2rem;
}

/* Estilos específicos para a seção de destaque */
.emphasis-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emphasis-section img {
    width: 6.25rem;
}

/* Estilos para a container de serviços e resultados */
.services-results-container {
    display: grid;
    grid-template-columns: 2fr 3.064fr;
    gap: 1rem;
    width: 1175px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* Estilos para o rodapé fixo */
.footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1175px;
    background-color: #dfedfd;
    padding: 8px;
}

/* Media queries para tornar o layout responsivo */
@media screen and (max-width: 1184px) {
    .menu-news-emphasis-container, .services-results-container {
        width: 100%;
        padding: 20px;
    }

    * {
        font-size: 1.2rem;
    }

    main {
        margin-top: .625rem;
    }
}

@media screen and (max-width: 728px){
    * {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .menu-news-emphasis-container, .services-results-container {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    main {
        margin-top: .625rem;
    }
}
