body img {
    width: 200px;
    height: 200px;
}

#amarelo {
    color: rgb(235, 235, 1);
}

#vermelho {
    color: red;
}

#azul {
    color: rgb(1, 118, 252);
}

#marron {
    color: rgba(165, 42, 42, 0.418);
}

#violeta {
    color: rgb(128, 0, 128);
}
